<div class="container-fluid bg-light my-4 ">
    <div class="container">
        <div class="row certificaciones py-4">
            <!-- COLUMA RESPONSIVE: Titulo Certificaciones -->
            <div class="col-sm-12 col-lg-12 col-xxl-6 text-xxl-start">
                <h2 class="display-2">Mis Certificaciones</h2>
            </div>
            <!-- COLUMNA RESPONSIVE - Listado de Certificaciones -->
            <div  class="col-sm-12 col-lg-12 col-xxl-6">
                <!-- Card para Certificación Microsoft -->
                <div class="certi_card d-flex flex-fill py-4">
                    <div class="px-auto mb-3">
                        <div class="row g-0">
                            <div class="col-4 my-auto p-xxl-4">
                                <img src="assets/img/certificates/az900.png" class="img-certificate" alt="azure">
                            </div>
                            <div class="col-8 my-auto">
                                <div class="card-body px-3">
                                    <span class="name_certi ">2022</span>
                                    <h6 class="name_certi">Microsoft Ceritified</h6>
                                    <a href="" class="btn_link"> Azure Fundamentals - AZ900</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- CARD PARA CERTIFICACIÓN CISCO IT ESSENTIALS-->
                <div class="certi_card d-flex flex-fill py-4">
                    <div class="px-auto mb-3">
                        <div class="row g-0">
                            <div class="col-4 my-auto p-xxl-4">
                                <img src="assets/img/certificates/cisco.png" class="img-certificate" alt="cisco">
                            </div>
                            <div class="col-8 my-auto">
                                <div class="card-body px-3">
                                    <span class="name_certi ">AÑO XXX</span>
                                    <h6 class="name_certi">Certificación A+ de CompTIA</h6>
                                    <a href="" class="btn_link"> IT Essentials - Cisco Networking Academy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- CARD PARA CERTIFICACIÓN CISXCO CCNA -->
                <div class="certi_card d-flex flex-fill py-4">
                    <div class="px-auto mb-3">
                        <div class="row g-0">
                            <div class="col-4 my-auto p-xxl-4">
                                <img src="assets/img/certificates/cisco.png" class="img-certificate" alt="cisco">
                            </div>
                            <div class="col-8 my-auto">
                                <div class="card-body px-3">
                                    <span class="name_certi ">AÑO XXX</span>
                                    <h6 class="name_certi">CCNA Certification</h6>
                                    <a href="" class="btn_link"> Routing and Switching</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- CARD PARA CERTIFICACIÓN EXTRA -->
                <div class="certi_card d-flex flex-fill py-4">
                    <div class="px-auto mb-3">
                        <div class="row g-0">
                            <div class="col-4 my-auto p-xxl-4">
                                <img src="assets/img/certificates/cisco.png" class="img-certificate" alt="cisco">
                            </div>
                            <div class="col-8 my-auto">
                                <div class="card-body px-3">
                                    <span class="name_certi ">AÑO XXX</span>
                                    <h6 class="name_certi">Type Certification</h6>
                                    <a href="" class="btn_link"> Name Certification XDDASDASDASDSD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>